@import "vars"


@media only screen and (max-width : 1199px)

	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.container
		max-width: 960px

	/* ------------------------------------- 
		intro 
		------------------------------------- */
	.intro
		padding-top: 5rem
		&__title
			font-size: 6.25rem
			&-small

		&__subtitle
			margin-top: 6.25rem
		&__img
			margin-top: 6.25rem
		&__descr
			padding: 0
			&-txt
				font-size: 1rem



	/* ------------------------------------- 
		layout 
		------------------------------------- */
	.layout
		margin-top: 50px
		&__shemes
			display: block
			padding: 0
			&::before
				display: none
		&__sheme
			max-width: 100%
			margin: 0 auto
			padding-top: 50px
			&--1
				padding-bottom: 3.125rem
				border-bottom: 1px solid #0b24fb
			&-img
				min-height: 1px



	/* ------------------------------------- 
		welcome 
		------------------------------------- */
	.welcome
		padding: 50px 0
		&__title
			font-size: 4.5vw
			transform: translateX(-50%)



	/* ------------------------------------- 
		palette 
		------------------------------------- */
	.palette
		&__descr
			font-size: 1rem
		&__info
			font-size: 1.8rem




	/* ------------------------------------- 
		backyard 
		------------------------------------- */
	.backyard
		&__container
			display: block
		&__txt
			font-size: 1rem
		&__info
			margin: 40px 0 0
			padding: 15px 0 0
			font-size: 2.5rem
			border-left: none
			border-top: 1px solid #fffd38




	/* ------------------------------------- 
		building 
		------------------------------------- */
	.building
		padding: 50px 0
		&__descr
			font-size: 1.4rem
		&__advantages
			font-size: 1.25rem
			&-title
				font-size: 1.75rem



	/* ------------------------------------- 
		content 
		------------------------------------- */
	.content
		&::before
			background-size: contain
		&__block
			font-size: 1.5rem









	/**/



@media only screen and (max-width : 991px)

	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.container
		max-width: 720px

	/* ------------------------------------- 
		intro 
		------------------------------------- */
	.intro
		&__subtitle
			font-size: 2rem
		&__descr
			display: block
			&-txt
				max-width: 100%
				line-height: 1.4
			&-logo
				margin-top: 1.875rem


	/**/



@media only screen and (max-width : 767px)

	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.container
		max-width: 540px


	/* ------------------------------------- 
		intro 
		------------------------------------- */
	.intro
		&__title
			font-size: 12vw
		&__subtitle
			font-size: 1.7rem



	/* ------------------------------------- 
		palette 
		------------------------------------- */
	.palette
		&__info
			margin-top: 1rem
			font-size: 1.5rem
		&__rgb
			margin-top: 1rem
			&-block1
				margin-right: 15px
				font-size: 12px



	/* ------------------------------------- 
		backyard 
		------------------------------------- */
	.backyard
		&__container
			margin-top: 50px
		&__txt
			&-title
				font-size: 2.8rem
		&__info
			font-size: 1.5rem
			


	/* ------------------------------------- 
		content 
		------------------------------------- */
	.content
		&__block
			font-size: 1.25rem



	/**/


@media only screen and (max-width : 575px)

	/* ------------------------------------- 
		Common styles 
		------------------------------------- */
	.container
		width: 100%


	/* ------------------------------------- 
		intro 
		------------------------------------- */
	.intro
		&__title
			font-size: 15vw
		&__subtitle
			font-size: 7vw
			&-part1
				padding-left: 10px
				padding-right: 10px
				line-height: 12vw
		&__descr
			&-logo
				font-size: 2rem


	/* ------------------------------------- 
		welcome 
		------------------------------------- */
	.welcome
		&__title
			position: static
			font-size: 1.375rem
			transform: none



	/* ------------------------------------- 
		building 
		------------------------------------- */
	.building
		padding: 50px 0
		&__descr
			font-size: 1.125rem
		&__advantages
			margin-bottom: 50px
			font-size: 1.125rem
			&-title
				font-size: 1.5rem


	/* ------------------------------------- 
		content 
		------------------------------------- */
	.content
		&__block
			font-size: 1rem
			letter-spacing: 0

	/**/


@media only screen and (max-width : 480px)

	/**/



@media only screen and (max-width : 320px)

	/**/





// @media only screen and (min-width : 320px)

// 	/**/



// @media only screen and (min-width : 480px)

// 	/**/


// @media only screen and (min-width : 576px)

// 	/**/


// @media only screen and (min-width : 768px)

// 	/**/



// @media only screen and (min-width : 992px)

// 	/**/



// @media only screen and (min-width : 1200px)

// 	/**/